:root{
    --main-bg: #161a1dff;
    --secondary-bg: #1d2327;
    --red-4: #660708ff;
    --red-3: #a4161aff;
    --red-2: #ba181bff;
    --red-1: #e5383bff;
    --secondary-text: #b1a7a6ff;
    --main-text: #d3d3d3ff;
    --white-2: #f5f3f4ff;
    --white: #ffffffff;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--main-bg);
    color: var(--main-text);
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1266px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* NAVBAR START */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.searchButton {
   display: flex;
   align-items: center;
   gap: 10px;
   background-color: var(--secondary-bg);
   padding: 5px;
   border-radius: 10px;
}

/* NAVBAR END */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-size: 14px;
}

.social {
    display: flex;
    gap: 10px;
}

/* FOOTER START */

/* ICON COLORS */
.social svg {
    color: var(--main-text);
    fill: var(--main-text);
}

/* FOOTER END */

/* LIST START */

.listItem {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.listItemImage {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.listItemTexts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listItemDetail {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.listItemAvatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.listItemCategories {
    display: flex;
    gap: 10px;
}

.listItemCategory {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--secondary-bg);
    color: var(--secondary-text);
    font-size: 14px;
}

/* LIST END */

/* SINGLE START */


.singleHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.singleHeadTexts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.singleHeadTitle {
  font-size: 30px;
}

.singleHeadDesc {
  font-size: 20px;
  font-weight: 300;
}

.singleHeadDetail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.singleAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.singleCategory {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--secondary-bg);
  color: var(--secondary-text)14px;
}

.singleHeadImg {
  flex: 1;
  max-height: 350px;
  object-fit: cover;
  border-radius: 15px;
}

.singleBottom {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 50px;
}

.singleContent {
  flex: 3;
  font-size: 20px;
  line-height: 32px;
}

.singleContent p,
.singleContent h1,
.singleContent h2,
.singleContent h3 {
  margin: 20px 0px;
}

.singleContent img {
  width: 100%;
  object-fit: cover;
}

.singleContent pre {
  width: 100%;
  overflow-x: scroll;
  padding: 20px;
}

.singleRightBar {
  flex: 1;
}

/* SINGLE END */

@media (max-width:1536px) {
    .container {
      max-width: 1366px;  
    }
}

@media (max-width:1366px) {
    .container {
      max-width: 1280px;  
    }
}

@media (max-width:1280px) {
    .container {
      max-width: 1024px;  
    }
}

@media (max-width:1024px) {
    .container {
      max-width: 768px; 
      padding-left: 10px;
      padding-right: 10px; 
    }
    .singleHeadImg {
      display: none;
    }
}

@media (max-width:768px) {
    .container {
      max-width: 640px;  
    }
    .links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px; 
    }
    .listItemImage {
      display: none;
    }
}

@media (max-width:640px) {
    .container {
      max-width: 475px;  
    }
}



