{{ define "main" }}
<main>
  <h1>{{ .Title }}</h1>

  {{ range .Pages.ByDate.Reverse }}
    <a href="{{ .RelPermalink }}" class="article-link">
      <article>

        {{ with .Params.thumbnail }}
          <img src="{{ . }}" alt="{{ $.Title }} thumbnail">
        {{ end }}

        <div class="article-content">
          <h3>
            {{ .Title }}
          </h3>
          <p><small>{{ .Date.Format "January 2, 2006" }}</small></p>

          <p>{{ .Summary }}</p>

          {{ with .Params.tags }}
            <ul>
              {{ range . }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          {{ end }}
        </div>

      </article>
    </a>
  {{ end }}
</main>
{{ end }}
